.form-control::-webkit-input-placeholder{
  color:#9090a5;
  border: 5px;
}

body {
  font-family: "Lato", sans-serif;
}


.badge {
  background: #352ba5;
}


.form-control {
  background: #352b5a;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
}

.btn-vote {
  width: 170px;
  height: 40px;
}

.progress {
  border-radius: 0px;
}

.progress-bar-success {
  background: #f61067;
}

.progress-bar-danger {
  background: #2ad392;
}

.btn-outline-success {
    color: #2ad392;
    border-color: #2ad392;
    border-width: 2px !important;
}

.border-gray {
  border-color: #9090a5;
  border-width: 2px !important;
}

  #top1 {
  	height: 45px;
  	background-color: #1b1b6c;
  }

footer
{
  background-color: #1B1B6C;
  color:white;
  padding:1px;
  text-align: center-left;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
