.username{
  max-width: 380px;
  width: 100%;
  height: 55px;
  background color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0.4rem;
  }
  .firstname{
  max-width: 380px;
  width: 100%;
  height: 55px;
  background color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0.4rem;
  }
  .lastname{
   max-width: 380px;
   width: 100%;
   height: 55px;
   background color: #f0f0f0;
   margin: 10px 0;
   border-radius: 55px;
   display: grid;
   grid-template-columns: 15% 85%;
   padding: 0.4rem;
  }
  .mobile{
   max-width: 380px;
   width: 100%;
   height: 55px;
   background color: #f0f0f0;
   margin: 10px 0;
   border-radius: 55px;
   display: grid;
   grid-template-columns: 15% 85%;
   padding: 0.4rem;
  }
  .pass{
  max-width: 380px;
  width: 100%;
  height: 55px;
  background color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0.4rem;
}
 .up{
   max-width: 380px;
  width: 100%;
  height: 55px;
  background color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0.4rem;
  }
