.username{
  width: 200px;
    background-color: aqua;
    color: white;
    border-radius: 10px;
  }
  .firstname{
    width: 200px;
    background-color: aqua;
    color: white;
    border-radius: 10px;
  }
  .lastname{width: 200px;
    background-color: aqua;
    color: white;
    border-radius: 10px;
  }
  .mobile{width: 200px;
    background-color: aqua;
    color: white;
    border-radius: 10px;
  }
  .pass{
    width: 300px;
    background-color: aqua;
    color: white;
    border-radius: 10px;
  }
